<a href="https://colab.research.google.com/github/nabeel-ds/Web-Scraping/blob/main/Scraper1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kora -q
from kora.selenium import wd
from bs4 import BeautifulSoup
import csv
import time

Start_url= "https://exoplanets.nasa.gov/discovery/exoplanet-catalog/"
wd.get(Start_url)
time.sleep(10)

     |████████████████████████████████| 61kB 4.1MB/s
     |████████████████████████████████| 61kB 6.7MB/s

In [ ]:
def scrape():
    headers = ["name", "light_years_from_earth", "planet_mass", "stellar_magnitude", "discovery_date"]
    planet_data = []
    for i in range(0, 428):
        soup = BeautifulSoup(wd.page_source, "html.parser")
        for ul_tag in soup.find_all("ul", attrs={"class", "exoplanet"}):
            li_tags = ul_tag.find_all("li")
            temp_list = []
            for index, li_tag in enumerate(li_tags):
                if index == 0:
                    temp_list.append(li_tag.find_all("a")[0].contents[0])
                else:
                    try:
                        temp_list.append(li_tag.contents[0])
                    except:
                        temp_list.append("")
            planet_data.append(temp_list)
        wd.find_element_by_xpath('//*[@id="primary_column"]/footer/div/div/div/nav/span[2]/a').click()
    with open("scrapper_2.csv", "w") as f:
        csvwriter = csv.writer(f)
        csvwriter.writerow(headers)
        csvwriter.writerows(planet_data)
scrape()

In [ ]:
import pandas as pd

df= pd.read_csv('scrapper_2.csv')
df.head()

                   name  ...  discovery_date
0  11 Comae Berenices b  ...            2007
1    11 Ursae Minoris b  ...            2009
2       14 Andromedae b  ...            2008
3         14 Herculis b  ...            2002
4          16 Cygni B b  ...            1996

[5 rows x 5 columns]